
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_ACEIndex.cshtml";
}

<style>
    
   
</style>
<div id="areascontent" style="width:70%;margin:0 auto;">
         <div class="rows" style="margin-bottom: 1%; overflow: hidden;">
            <div style="width: 100%;height:inherit">
                    <div style=" border: 1px solid #e6e6e6; background-color: #fff;">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-send fa-lg" style="padding-right: 5px;"></i>框架标识</div>
                            <div class="panel-body" >
                                <img src="~/Content/img/Smatrix.jpg" style="width:80px;height:80px;"/>
                                <span style="width:180px ; height:100px" >Athena标准开发框架</span>
                            </div>
                        </div>
                    </div>
                </div>
          </div>           
               
       <div class="rows" style="margin-bottom: 1%; overflow: hidden;">
        <div style="width: 100%;height:inherit">
                <div style=" border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-send fa-lg" style="padding-right: 5px;"></i>框架介绍</div>
                        <div class="panel-body" style="font-size:14px;">
                            <p>&nbsp &nbsp &nbsp &nbsp Athena是一个基于智能化扩展组件式的开源框架，针对企业应用程序开发复杂的问题，采用MVC架构思想，结合控制反转（IOC）、
                                对象关系映射（PRM）、UI组件和各种插件，实现了基于角色的访问控制（简称rbac）的权限管理和基于编码的权限管理、
                                工作流管理，单点登录、多种界面切换及不同数据库连接，具有结构清晰、性能高、速度快、扩展性强、界面简单统一等优势，
                                同时能够适配移动端开发，内嵌的高级加密算法对文件进行加密传输提高了系统的安全性。
                            </p>
                            <p>Athena开发框架的核心功能包括以下几个方面：</p>
                            <p><h5><strong>1.权限管理</strong></h5><p>
                            <p>&nbsp &nbsp &nbsp &nbsp Athena框架中提供了基于rbac的权限控制，同时可扩展为基于编码的权限系统。权限管理是系统的安全范畴，只有合法的用户才能访问系统，并能访问拥有的相关资源，执行相关动作。</p>
                            <p><h5><strong>2.工作流</strong></h5><p>
                            <p>
                               &nbsp &nbsp &nbsp &nbsp 框架拥有独立开发的通用工作流引擎，可以根据不同的业务自由定制代码，只需简单配置相关数据后便可创建一个复杂的流程，也支持会签等。     
                            <p>
                            <p><h5><strong>3.多数据库支持</strong></h5><p>
                            <p>
                               &nbsp &nbsp &nbsp &nbsp 数据层支持mysql和sqlserver，操作者可直接通过webconfig配置数据库，利用IOC或工厂模式，启动对应数据库。     
                            <p>
                            <p><h5><strong>4. 支持多种登录方式</strong></h5><p>
                             <p>
                              &nbsp &nbsp &nbsp &nbsp 框架能够以session和cookie两种方式登录系统，通过在webconfig中配置进行切换。     
                            <p>
                            <p><h5><strong>5.两种前端主题切换</strong></h5><p>
                            <p>
                              &nbsp &nbsp &nbsp &nbsp 前端主题包括两套：基于JQuery的界面风格、基于Bootstrap的响应式主题。底层库均提供了大量的UI组件，能够轻松完成绚丽的界面，集成的jQuery插
                                件可以用于所有的web应用程序，便于用户进行深度定制，做出更强的系统。     
                            <p>
                            <p>
                              &nbsp &nbsp &nbsp &nbsp 前端采用的Ajax技术页面无刷新，具有C/S系统一样的良好用户体验。Ajax交互使得前端无需关心后台技术架构（Java、.net、php），后台的升级也不会影响到前台功能。     
                            <p>
                            <p><h5><strong>6.高级查询</strong></h5><p>
                            <p>
                              &nbsp &nbsp &nbsp &nbsp 一个管理系统主要是对数据进行管理，快速精准地查找系统中数据具有重要意义。Athena框架中提供了高级查询，支持不同字段的组合查询，也可自定义查询条件的个数。查询的页面直观，操作简单。     
                            <p>

                        </div>
                    </div>
                </div>
            </div>
      </div>
       
         
        
         <div class="rows" style="overflow: hidden;">
           <div style="float: left; width: 100%; margin-right: 1%;">
                <div style="height: 170px; border: 1px solid #e6e6e6; background-color:#c2e6f5;">
                    <div class="panel-body">
                            <div class="mainContent" id="content-main" style="margin: 10px; margin-bottom: 0px; padding: 0;text-align:center">
                                 <span> 华东交通大学系统工程与密码学研究版权所有</span>
                            </div>
                            <div class="mainContent" id="content-main" style="margin: 10px; margin-bottom: 0px; padding: 0;text-align:center">
                                <span>开发者团队：<span class="name">周庆 张婷婷 王露 陈祚松 张梦丽 艾美珍 胡凯雨 陈兰兰 夏萍萍 康文洋 易传佳</span></span>
                            </div>
                            <div class="mainContent" id="content-main" style="margin: 10px; margin-bottom: 0px; padding: 0;text-align:center">
                                <span>联系我们：</span> <img src="~/Content/img/qqChat.jpg" alt="扫描二维码加入qq群交流学习" style="width:80px;height:80px;">
                            </div>
                     </div>
                </div>
            </div>
         </div>

</div>







