<!DOCTYPE html>

<html>
<head>
    
@*    <title>@ViewBag.Title</title>
     <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <link href="~/Content/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
    <link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
    <script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/dialog/dialog.js"></script>
    <script src="~/Content/js/framework-clientdata.js"></script>*@

    <title>@ViewBag.Title</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
    <link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
    <script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/indexsearch.js"></script>
    <script src="~/Content/js/ace.js"></script>
    <script src="~/Content/js/UEditor/ueditor.config.js"></script>
    <script src="~/Content/js/UEditor/ueditor.all.min.js"></script>
    <link href="~/Content/js/UEditor/themes/iframe.css" rel="stylesheet" />
    <script src="~/Content/js/UEditor/lang/zh-cn/zh-cn.js"></script>

</head>
<body>
    @RenderBody()
    @*@Html.AntiForgeryToken()*@
</body>
</html>
