USE [Athena]
GO
/****** Object:  Table [dbo].[workflownodeoperator]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflownodeoperator](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nodeactionid] [int] NOT NULL,
	[operatorid] [int] NOT NULL,
	[operatortype] [int] NOT NULL,
	[begintime] [datetime] NULL,
	[endtime] [datetime] NULL,
	[operatorstatus] [int] NULL,
	[operatorlock] [int] NULL,
	[nodeoperator] [nvarchar](256) NULL,
 CONSTRAINT [PK_workflownodeoperator] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[workflownodeoperator] ON
INSERT [dbo].[workflownodeoperator] ([id], [nodeactionid], [operatorid], [operatortype], [begintime], [endtime], [operatorstatus], [operatorlock], [nodeoperator]) VALUES (70, 47, 0, 1, NULL, NULL, 1, 1, N'28')
INSERT [dbo].[workflownodeoperator] ([id], [nodeactionid], [operatorid], [operatortype], [begintime], [endtime], [operatorstatus], [operatorlock], [nodeoperator]) VALUES (71, 48, 0, 1, NULL, NULL, 1, 1, N'26')
INSERT [dbo].[workflownodeoperator] ([id], [nodeactionid], [operatorid], [operatortype], [begintime], [endtime], [operatorstatus], [operatorlock], [nodeoperator]) VALUES (72, 49, 0, 1, NULL, NULL, 1, 1, N'41')
SET IDENTITY_INSERT [dbo].[workflownodeoperator] OFF
/****** Object:  Table [dbo].[workflownodeaction]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflownodeaction](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[wfid] [int] NULL,
	[actionid] [int] NULL,
	[nodeactionname] [nvarchar](50) NULL,
	[nodeactionmemo] [nvarchar](256) NULL,
	[currentnodeid] [int] NOT NULL,
	[nextnodeid] [int] NOT NULL,
	[nastatus] [int] NULL,
	[begintime] [datetime] NULL,
	[endtime] [datetime] NULL,
	[nacondition] [nvarchar](1024) NULL,
	[nalock] [int] NULL,
	[nodeactioncode] [int] NULL,
	[nodetype] [int] NULL,
 CONSTRAINT [PK_wfstep_auth] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[workflownodeaction] ON
INSERT [dbo].[workflownodeaction] ([id], [wfid], [actionid], [nodeactionname], [nodeactionmemo], [currentnodeid], [nextnodeid], [nastatus], [begintime], [endtime], [nacondition], [nalock], [nodeactioncode], [nodetype]) VALUES (47, 40, 34, NULL, NULL, 137, 138, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[workflownodeaction] ([id], [wfid], [actionid], [nodeactionname], [nodeactionmemo], [currentnodeid], [nextnodeid], [nastatus], [begintime], [endtime], [nacondition], [nalock], [nodeactioncode], [nodetype]) VALUES (48, 40, 35, NULL, NULL, 138, 139, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[workflownodeaction] ([id], [wfid], [actionid], [nodeactionname], [nodeactionmemo], [currentnodeid], [nextnodeid], [nastatus], [begintime], [endtime], [nacondition], [nalock], [nodeactioncode], [nodetype]) VALUES (49, 40, 35, NULL, NULL, 139, 140, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[workflownodeaction] OFF
/****** Object:  Table [dbo].[workflownode]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflownode](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[wfid] [int] NOT NULL,
	[wfnodename] [nvarchar](128) NOT NULL,
	[wfnodememo] [nvarchar](128) NOT NULL,
	[wfnodeflag] [int] NULL,
	[wfnodebegintime] [datetime] NULL,
	[wfnodeendtime] [datetime] NULL,
	[wfnodestatus] [int] NULL,
	[wfnodelock] [int] NULL,
 CONSTRAINT [PK_wfstepdefine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[workflownode] ON
INSERT [dbo].[workflownode] ([id], [wfid], [wfnodename], [wfnodememo], [wfnodeflag], [wfnodebegintime], [wfnodeendtime], [wfnodestatus], [wfnodelock]) VALUES (137, 40, N'状态1', N'状态1', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[workflownode] ([id], [wfid], [wfnodename], [wfnodememo], [wfnodeflag], [wfnodebegintime], [wfnodeendtime], [wfnodestatus], [wfnodelock]) VALUES (138, 40, N'状态2', N'状态2', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[workflownode] ([id], [wfid], [wfnodename], [wfnodememo], [wfnodeflag], [wfnodebegintime], [wfnodeendtime], [wfnodestatus], [wfnodelock]) VALUES (139, 40, N'状态3', N'状态3', NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[workflownode] OFF
/****** Object:  Table [dbo].[workflowinstancetracings]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflowinstancetracings](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[instanceid] [int] NOT NULL,
	[startnode] [nvarchar](256) NOT NULL,
	[endnode] [nvarchar](256) NOT NULL,
	[executeaction] [nvarchar](256) NULL,
	[executer] [nvarchar](256) NULL,
	[executetime] [datetime] NULL,
	[remark] [nvarchar](1024) NULL,
 CONSTRAINT [PK_workflowinstancetracings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workflowinstances]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflowinstances](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[wfid] [int] NOT NULL,
	[ownertabledataid] [int] NOT NULL,
	[currentnodeid] [int] NOT NULL,
	[status] [int] NULL,
	[datalock] [int] NULL,
	[nodcode] [int] NULL,
 CONSTRAINT [PK_workflowinstances] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workflow]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workflow](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[wfname] [nvarchar](50) NOT NULL,
	[wfmemo] [nvarchar](1024) NULL,
	[wfbegintime] [datetime] NULL,
	[wfstoptime] [datetime] NULL,
	[wfflag] [int] NOT NULL,
	[wfownertable] [nvarchar](128) NULL,
	[wfinstancestable] [nvarchar](128) NULL,
	[wfstatus] [int] NULL,
	[wflock] [int] NULL,
	[wffieldname] [nvarchar](256) NULL,
	[wfjsonstr] [nvarchar](max) NULL,
 CONSTRAINT [PK_wfdefine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[workflow] ON
SET IDENTITY_INSERT [dbo].[workflow] OFF
/****** Object:  Table [dbo].[user_role]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[userid] [int] NOT NULL,
	[roleid] [int] NOT NULL,
	[rolescode] [int] NOT NULL,
 CONSTRAINT [PK_user_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user_role] ON
INSERT [dbo].[user_role] ([id], [userid], [roleid], [rolescode]) VALUES (37, 1, 1, 0)
INSERT [dbo].[user_role] ([id], [userid], [roleid], [rolescode]) VALUES (38, 3, 25, 0)
INSERT [dbo].[user_role] ([id], [userid], [roleid], [rolescode]) VALUES (39, 12, 32, 0)
SET IDENTITY_INSERT [dbo].[user_role] OFF
/****** Object:  Table [dbo].[user_group]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_group](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[userid] [int] NOT NULL,
	[groupid] [int] NOT NULL,
 CONSTRAINT [PK_user_group] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user_group] ON
INSERT [dbo].[user_group] ([id], [userid], [groupid]) VALUES (55, 12, 113)
INSERT [dbo].[user_group] ([id], [userid], [groupid]) VALUES (56, 13, 113)
INSERT [dbo].[user_group] ([id], [userid], [groupid]) VALUES (57, 18, 113)
SET IDENTITY_INSERT [dbo].[user_group] OFF
/****** Object:  Table [dbo].[user]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[username] [nvarchar](64) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[rolelist] [nvarchar](50) NULL,
	[grouplist] [nvarchar](50) NULL,
	[pubkey] [nvarchar](512) NULL,
	[prikey] [nvarchar](512) NULL,
	[photo] [nchar](512) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user] ON
INSERT [dbo].[user] ([id], [username], [password], [rolelist], [grouplist], [pubkey], [prikey], [photo]) VALUES (1, N'Athena', N'IHz0EFMvkqR97iRc6bEf9x9Xjr12PrO76kTr0EPQGPs=', N'超级管理员', N'管理部,', N'66B709AC0C131CD43B176C2BCBF7083531742C926D802BC786D434803BAAA6AA210B03AC9C1681FD5DA849BFF8A3F1766F2219B35E395A0F2C9082F2B554430C', N'24AEAFF1C779D11A33AEAE80EECA4F99AB89C88BA34B7B8FCB44F821CF7E82C5', NULL)
INSERT [dbo].[user] ([id], [username], [password], [rolelist], [grouplist], [pubkey], [prikey], [photo]) VALUES (3, N'Athenaz', N'tRC3/NWgSVEnF6kqtIliHPLD40J4K2zU4rBlXdiT3Mk=', N'管理员', N'人事部,技术部,人事部,技术部,生产部,', NULL, NULL, NULL)
INSERT [dbo].[user] ([id], [username], [password], [rolelist], [grouplist], [pubkey], [prikey], [photo]) VALUES (12, N'ztt', N'IHz0EFMvkqR97iRc6bEf9x9Xjr12PrO76kTr0EPQGPs=', N' 白银会员', N' 售后服务部', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
/****** Object:  Table [dbo].[role_resource]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_resource](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[roleid] [int] NOT NULL,
	[resoureceid] [int] NOT NULL,
 CONSTRAINT [PK_role_resource] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[role_resource] ON
INSERT [dbo].[role_resource] ([id], [roleid], [resoureceid]) VALUES (2, 4, 1)
INSERT [dbo].[role_resource] ([id], [roleid], [resoureceid]) VALUES (3, 4, 5)
INSERT [dbo].[role_resource] ([id], [roleid], [resoureceid]) VALUES (4, 4, 7)
SET IDENTITY_INSERT [dbo].[role_resource] OFF
/****** Object:  Table [dbo].[role_action]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_action](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[roleid] [int] NOT NULL,
	[actionid] [int] NOT NULL,
	[controlername] [nvarchar](50) NULL,
	[actionscode] [int] NULL,
 CONSTRAINT [PK_role_action] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[role_action] ON
INSERT [dbo].[role_action] ([id], [roleid], [actionid], [controlername], [actionscode]) VALUES (3, 32, 1, NULL, 0)
INSERT [dbo].[role_action] ([id], [roleid], [actionid], [controlername], [actionscode]) VALUES (5, 26, 1, NULL, 0)
INSERT [dbo].[role_action] ([id], [roleid], [actionid], [controlername], [actionscode]) VALUES (6, 26, 3, NULL, 0)
SET IDENTITY_INSERT [dbo].[role_action] OFF
/****** Object:  Table [dbo].[role]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[rolename] [nvarchar](50) NOT NULL,
	[rolecode] [int] NOT NULL,
	[roleexpiretime] [datetime] NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[role] ON
INSERT [dbo].[role] ([id], [rolename], [rolecode], [roleexpiretime]) VALUES (1, N'超级管理员', 1, CAST(0x0000A76600000000 AS DateTime))
INSERT [dbo].[role] ([id], [rolename], [rolecode], [roleexpiretime]) VALUES (25, N'管理员', 33, CAST(0x0000A77100000000 AS DateTime))
INSERT [dbo].[role] ([id], [rolename], [rolecode], [roleexpiretime]) VALUES (26, N'黄金会员', 33, CAST(0x0000A77700000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[role] OFF
/****** Object:  Table [dbo].[resource]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resource](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resourcename] [nvarchar](50) NOT NULL,
	[resourcetype] [int] NOT NULL,
	[resourceurl] [nvarchar](1024) NULL,
	[resourcescript] [nvarchar](1024) NULL,
	[resourceowner] [nvarchar](1024) NULL,
	[resourceleval] [int] NULL,
	[resourceleftico] [nvarchar](50) NULL,
	[resourcerightico] [nvarchar](50) NULL,
	[resourceclass] [nvarchar](50) NULL,
	[resourcenumber] [int] NULL,
	[order] [int] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK__resource__3213E83F30F848ED] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[resource] ON
INSERT [dbo].[resource] ([id], [resourcename], [resourcetype], [resourceurl], [resourcescript], [resourceowner], [resourceleval], [resourceleftico], [resourcerightico], [resourceclass], [resourcenumber], [order], [description]) VALUES (1, N'系统管理', 1, N'&nbsp;', N'1sss', NULL, 1, NULL, NULL, NULL, NULL, 0, N'&nbsp;')
INSERT [dbo].[resource] ([id], [resourcename], [resourcetype], [resourceurl], [resourcescript], [resourceowner], [resourceleval], [resourceleftico], [resourcerightico], [resourceclass], [resourcenumber], [order], [description]) VALUES (3, N'工作流', 1, N'', N'1', NULL, 1, N'fa fa-bar-chart-o', N'fa arrow', N'r1', 0, 0, NULL)
INSERT [dbo].[resource] ([id], [resourcename], [resourcetype], [resourceurl], [resourcescript], [resourceowner], [resourceleval], [resourceleftico], [resourcerightico], [resourceclass], [resourcenumber], [order], [description]) VALUES (4, N'文章', 1, N'', N'1', NULL, 1, N'fa fa-tags', N'fa arrow', N'r3', 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[resource] OFF
/****** Object:  Table [dbo].[propertymapping]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[propertymapping](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[propertyName] [nvarchar](50) NULL,
	[propertyValue] [nvarchar](50) NULL,
	[propertyMeaning] [nvarchar](50) NULL,
	[remark] [nvarchar](2048) NULL,
	[parentId] [int] NULL,
 CONSTRAINT [PK_propertymapping] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[propertymapping] ON
INSERT [dbo].[propertymapping] ([id], [propertyName], [propertyValue], [propertyMeaning], [remark], [parentId]) VALUES (7, N'其他角色', N'2020', N'基本信息管理', NULL, 0)
INSERT [dbo].[propertymapping] ([id], [propertyName], [propertyValue], [propertyMeaning], [remark], [parentId]) VALUES (8, N'系统角色', N'systemRole', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[propertymapping] OFF
/****** Object:  Table [dbo].[menu]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[menu](
	[Id] [varchar](50) NOT NULL,
	[ParentId] [varchar](50) NULL,
	[EnCode] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Icon] [nvarchar](50) NULL,
	[UrlAddress] [nvarchar](500) NULL,
	[OpenTarget] [nvarchar](50) NULL,
	[IsMenu] [bit] NOT NULL,
	[IsExpand] [bit] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[SortCode] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[CreationTime] [datetime] NOT NULL,
	[CreateUserId] [varchar](50) NULL,
	[LastModifyTime] [datetime] NULL,
	[LastModifyUserId] [varchar](50) NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeleteTime] [datetime] NULL,
	[DeleteUserId] [varchar](50) NULL,
 CONSTRAINT [PK_SYS_MODULE] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模块主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'EnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'Icon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'连接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'UrlAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'目标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'OpenTarget'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'IsMenu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'展开' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'IsExpand'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'公共' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'IsPublic'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'CreationTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'LastModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后修改用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'LastModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'有效标志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'IsEnabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'IsDeleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'DeleteTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'DeleteUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统模块' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu'
GO
INSERT [dbo].[menu] ([Id], [ParentId], [EnCode], [Name], [Icon], [UrlAddress], [OpenTarget], [IsMenu], [IsExpand], [IsPublic], [SortCode], [Description], [CreationTime], [CreateUserId], [LastModifyTime], [LastModifyUserId], [IsEnabled], [IsDeleted], [DeleteTime], [DeleteUserId]) VALUES (N'e72c75d0-3a69-41ad-b220-13c9a62ec788', N'73FD1267-79BA-4E23-A152-744AF73117E9', NULL, N'数据备份', NULL, N'/SystemSecurity/DbBackup/Index', N'iframe', 1, 0, 0, 1, NULL, CAST(0x0000A6A500CF5CB3 AS DateTime), NULL, CAST(0x0000A75A00C82683 AS DateTime), N'9f2ec0797d0f4fe290ab8b09a8302aba', 1, 0, NULL, NULL)
INSERT [dbo].[menu] ([Id], [ParentId], [EnCode], [Name], [Icon], [UrlAddress], [OpenTarget], [IsMenu], [IsExpand], [IsPublic], [SortCode], [Description], [CreationTime], [CreateUserId], [LastModifyTime], [LastModifyUserId], [IsEnabled], [IsDeleted], [DeleteTime], [DeleteUserId]) VALUES (N'462027E0-0848-41DD-BCC3-025DCAE65555', NULL, NULL, N'系统管理', N'fa fa-gears', NULL, N'expand', 0, 1, 0, 2, NULL, CAST(0x0000A6A500CF5CB3 AS DateTime), NULL, CAST(0x0000A64B010409F6 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', 1, 0, NULL, NULL)
INSERT [dbo].[menu] ([Id], [ParentId], [EnCode], [Name], [Icon], [UrlAddress], [OpenTarget], [IsMenu], [IsExpand], [IsPublic], [SortCode], [Description], [CreationTime], [CreateUserId], [LastModifyTime], [LastModifyUserId], [IsEnabled], [IsDeleted], [DeleteTime], [DeleteUserId]) VALUES (N'73FD1267-79BA-4E23-A152-744AF73117E9', NULL, NULL, N'系统安全', N'fa fa-desktop', NULL, N'expand', 0, 1, 0, 1, NULL, CAST(0x0000A6A500CF5CB3 AS DateTime), NULL, CAST(0x0000A75A00C836C0 AS DateTime), N'9f2ec0797d0f4fe290ab8b09a8302aba', 1, 0, NULL, NULL)
/****** Object:  Table [dbo].[group]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[groupname] [nvarchar](50) NOT NULL,
	[groupcode] [int] NULL,
 CONSTRAINT [PK_group] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[group] ON
INSERT [dbo].[group] ([id], [groupname], [groupcode]) VALUES (6, N'管理部', 2)
INSERT [dbo].[group] ([id], [groupname], [groupcode]) VALUES (7, N'人事部', 4)
INSERT [dbo].[group] ([id], [groupname], [groupcode]) VALUES (8, N'技术部', 8)
SET IDENTITY_INSERT [dbo].[group] OFF
/****** Object:  Table [dbo].[backup]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[backup](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[databasename] [nvarchar](50) NOT NULL,
	[backupname] [nvarchar](50) NOT NULL,
	[backupsize] [nvarchar](50) NULL,
	[backuptime] [datetime] NULL,
	[backuppersonnel] [nvarchar](50) NULL,
	[instructions] [nvarchar](max) NULL,
	[absolutepath] [nvarchar](max) NULL,
	[relativepath] [nvarchar](max) NULL,
 CONSTRAINT [PK_backup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[article]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[content] [nvarchar](max) NULL,
	[inserttime] [datetime] NULL,
	[edittime] [datetime] NULL,
	[type] [int] NULL,
	[SortID] [int] NULL,
	[author] [nvarchar](50) NULL,
 CONSTRAINT [PK_article] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[article] ON
INSERT [dbo].[article] ([id], [title], [content], [inserttime], [edittime], [type], [SortID], [author]) VALUES (1, N'test', N'<p>测试</p>', NULL, CAST(0x0000A87601167E88 AS DateTime), NULL, NULL, N'测试')
INSERT [dbo].[article] ([id], [title], [content], [inserttime], [edittime], [type], [SortID], [author]) VALUES (24, N'红楼梦', N'<p>甄士隐梦幻识通灵	贾雨村风尘怀闺秀</p>', CAST(0xFFFF9EFB00000000 AS DateTime), CAST(0x0000088F00000000 AS DateTime), NULL, NULL, N'曹雪芹')
INSERT [dbo].[article] ([id], [title], [content], [inserttime], [edittime], [type], [SortID], [author]) VALUES (25, N'不能承受的生命之轻', N'<p>小说描写了托马斯与特丽莎、萨丽娜之间的感情生活。但它不是一个男人和两个女人的三角性爱故事，它是一部哲理小说，小说从“永恒轮回”的讨论开始，把读者带入了对一系列问题的思考中，比如轻与重、灵与肉</p>', CAST(0xFFFF742E00000000 AS DateTime), CAST(0xFFFF770800000000 AS DateTime), NULL, NULL, N'米兰昆德拉')
SET IDENTITY_INSERT [dbo].[article] OFF
/****** Object:  Table [dbo].[area]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentid] [nvarchar](max) NULL,
	[layers] [int] NULL,
	[encode] [nvarchar](max) NULL,
	[fullname] [nvarchar](max) NULL,
 CONSTRAINT [PK_area] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[area] ON
INSERT [dbo].[area] ([id], [parentid], [layers], [encode], [fullname]) VALUES (2, NULL, 1, N'000001', N'湖南省')
INSERT [dbo].[area] ([id], [parentid], [layers], [encode], [fullname]) VALUES (3, N'2', 2, N'000001', N'长沙市')
INSERT [dbo].[area] ([id], [parentid], [layers], [encode], [fullname]) VALUES (4, NULL, 1, N'000002', N'江西省')
SET IDENTITY_INSERT [dbo].[area] OFF
/****** Object:  Table [dbo].[action]    Script Date: 01/28/2018 20:05:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[action](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[actionname] [nvarchar](50) NOT NULL,
	[actionurl] [nvarchar](1024) NULL,
	[actionparam] [nvarchar](1024) NULL,
	[actiontype] [int] NULL,
	[actionowner] [nvarchar](50) NULL,
	[actioncode] [int] NOT NULL,
	[controlername] [nvarchar](50) NOT NULL,
	[actiondescription] [nvarchar](50) NULL,
 CONSTRAINT [PK_action] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[action] ON
INSERT [dbo].[action] ([id], [actionname], [actionurl], [actionparam], [actiontype], [actionowner], [actioncode], [controlername], [actiondescription]) VALUES (15, N'Edit', NULL, N'fa fa-pencil-square-o', 0, N'1', 111, N'User', N'修改')
INSERT [dbo].[action] ([id], [actionname], [actionurl], [actionparam], [actiontype], [actionowner], [actioncode], [controlername], [actiondescription]) VALUES (16, N'OpenRevisePasswordDialog', NULL, N'fa fa-key', 0, N'1', 111, N'User', N'重置密码')
INSERT [dbo].[action] ([id], [actionname], [actionurl], [actionparam], [actiontype], [actionowner], [actioncode], [controlername], [actiondescription]) VALUES (17, N'Delete', NULL, N'fa fa-trash-o', 0, N'1', 111, N'User', N'删除')
SET IDENTITY_INSERT [dbo].[action] OFF
