@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/WorkflowManage/Workflownodeaction/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#wfid").bindSelect({
            url: "/WorkflowManage/Workflownode/GetSelectJson",
        });
        $("#currentnodeid").bindSelect({
            url: "/WorkflowManage/Workflownode/GetSelectNodeJson",
        });
        $("#nextnodeid").bindSelect({
            url: "/WorkflowManage/Workflownode/GetSelectNodeJson",
        });
        $("#actionid").bindSelect({
            url: "/WorkflowManage/Workflownodeaction/GetActionName",
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">工作流名称</th>
                    <td class="formValue">
                        <select id="wfid" name="wfid" class="form-control">
                        </select>
                        
                    </td>
                    <th class="formTitle">节点动作编号</th>
                    <td class="formValue">
                       @* <input id="actionid" name="actionid" type="text" class="form-control required" placeholder="请输入节点动作名称" />*@
                         <select id="actionid" name="actionid" class="form-control">
                            @*<option value="0"></option>*@
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">当前节点</th>
                    <td class="formValue">
                        <select id="currentnodeid" name="currentnodeid" class="form-control">
                        </select>
                    </td>
                    <th class="formTitle">下一个节点</th>
                    <td class="formValue">
                        <select id="nextnodeid" name="nextnodeid" class="form-control">
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">  开始时间</th>
                    <td class="formValue">
                        <input id="begintime" name="begintime" type="text" class="form-control"  placeholder="请输入开始时间"/>
                    </td>
                    <th class="formTitle">结束时间</th>
                    <td class="formValue">
                        <input id="endtime" name="endtime" type="text" class="form-control" placeholder="请输入结束时间" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle"> 动作编码值 </th>
                    <td class="formValue">
                        <input id="nodeactioncode" name="nodeactioncode" type="text" class="form-control"  placeholder="请输入动作编码值 "/>
                    </td>
                    <th class="formTitle">动作类型</th>
                    <td class="formValue">
                        <select id="nodetype" name="nodetype" class="form-control required">
                            <option value="">==请选择==</option>
                            <option value="1" title="未定义1">未定义1</option>
                            <option value="2" title="未定义2">未定义2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">节点动作状态</th>
                    <td class="formValue">
                        <select id="nastatus" name="nastatus" class="form-control required">
                            <option value="">==请选择==</option>
                            <option value="1" title="启用">启用</option>
                            <option value="2" title="未启用">未启用</option>
                        </select>
                    </td>
                    <th class="formTitle">动作锁定状态</th>
                    <td class="formValue">
                        <select id="nalock" name="nalock" class="form-control required">
                            <option value="">==请选择==</option>
                            <option value="1" title="锁定">锁定</option>
                            <option value="2" title="未锁定">未锁定</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle"> 动作执行条件 </th>
                    <td class="formValue">
                        <input id="nacondition" name="nacondition" type="text" class="form-control"  placeholder="请输入 锁定状态 "/>
                    </td>
                </tr>
                <tr>
                   <th class="formTitle">  节点动作描述</th>
                   <td class="formValue">
                       <input id="nodeactionmemo" name="nodeactionmemo" type="text" class="form-control" placeholder="请输入节点动作描述" />
                   </td>
                </tr>
            </table>
        </div>
    </div>
</form>
