{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<h2>Info</h2>

<script>
    $(function () {
        $('.wrapper').height($(window).height() - 11);
    })
</script>
<div class="wrapper">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#a" data-toggle="tab">基本信息</a></li>
        <li><a href="#b" data-toggle="tab">注册信息</a></li>
        <li><a href="#c" data-toggle="tab">安全验证</a></li>
        <li><a href="#c" data-toggle="tab">系统日志</a></li>
        <li><a href="#c" data-toggle="tab">个性化设置</a></li>
    </ul>
    <div class="tab-content" style="padding-top: 5px;">
        <div id="a" class="tab-pane active" style="padding: 15px;">
            <ul class="pop-list">
                <li>
                    <label>姓名</label>
                    <input type="text" class="form-control" />
                </li>
                <li>
                    <label>密码</label>
                    <input type="text" class="form-control" />
                </li>
                <li>
                    <label>公钥</label>
                    <input type="text" class="form-control" />
                </li>
                <li>
                    <label>私钥</label>
                    <input type="text" class="form-control" />
                </li>
                <li>
                    <label>角色</label>
                    <input type="text" class="form-control" />
                </li>
                <li>
                    <label>部门</label>
                    <input type="text" class="form-control" />
                </li>
            </ul>
        </div>
       <div id="c" class="tab-pane" style="padding-right: 15px;">
            3
        </div>
        <div id="d" class="tab-pane" style="padding-right: 15px;">
            4
        </div>
    </div>
</div>
